<a data-fancybox="gallery" href="/assets/images/{{elemento.imagen}}" class="proyecto proyecto-personajes">
  <img src="/assets/images/{{elemento.imagen}}" alt="">
  <span class="proyecto-personajes-overlay">
    {{elemento.desc}}
  </span>
</a>