---
layout: layouts/base.njk
title: Contacto
eleventyNavigation:
  key: contacto
  title: Contacto
  order: 5
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 contacto-titulo">
  <h1 class="font-2 text-headline">Contacto</h1>
  <p>Si estas interasado en algun servicio solicita una cotización
    para tu siguiente proyecto. Completa el siguiente formulario
    y te contestaremos lo antes posible. 
    </p>
  <div class="cotiza"> 
      <h4>Hagamos que tus proyectos se vea realmente bien.
      <br>¡Comencemos hoy mismo!</h4><br>
      <a href="https://forms.gle/hyZ4Tn4BXG9g1Svp8" target="_blank"> Contáctanos </a>
  </div>
</div>

<form action="/gracias/" name="contacto" data-netlify="true" class="col-7 col-md-6 col-sm-5 col-xs-6 contacto-form">
  <div class="redes">
    <h4>Sígueme en<h4>
    <ul class="sociales">
      <li><a href="https://es-la.facebook.com/" target="_blank"><img src="/assets/images/icon2.png" width="60" height="60"></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><img src="/assets/images/icon3.png" width="60" height="60"></a></li><br>
      <li><a href="https://www.artstation.com/?sort_by=community" target="_blank"><img src="/assets/images/icon1.png" width="60" height="60"></a></li>
      <li><a href="https://www.linkedin.com/home" target="_blank"><img src="/assets/images/icon4.png" width="60" height="60"></a></li>
    </ul>
  
  </div>
</form>
