---
layout: layouts/full.njk
title: Marca
eleventyNavigation:
  key: marca
  title: Marca
  order: 3
---
<div class="fotografia-hero">
  {% set elemento = {"imagen": "design_hand.jpeg"} %}
  {% include 'components/project.njk' %}
</div>

<div class="container grid fotografia-contenidos">
  <div class="fotografia-titulo">
    <h1 class="text-headline font-2">
      Diseño de marca
    </h1>
  </div>

  <div class="fotografia-texto">
    <p>
      Todo los que necesitas para construir tu identidad corporativa reflejando la los valores y personalidad de tu marca.
    </p>
  </div>

  {% for elemento in fotos %}
    {% include 'components/project.njk' %}
  {% endfor %}

</div>