---
layout: layouts/full.njk
title: Inicio
---
<div class="home-slide">
  <h1 class="font-2 home-title">Innovando el Universo <br> 
tus proyectos </h1>
</div>


<div class="home-slide">
  <img src="/assets/images/design-pc.png" alt="">
  <a href="/fotografia/" class="font-2 home-subheader">Que tu marca sea única e icónica 
</a>
</div>

<div class="home-slide">
  <img src="/assets/images/3d-envi-12.png" alt="">
  <a href="/ilustracion/" class="font-2 home-subheader">Que tus personajes y mundos fantásticos cobren vida </a>
</div>

<div class="home-slide">
  <img src="assets/images/vector_laptop.png" alt="">
  <a href="/contacto/" class="font-2 home-subheader home-subheader-alt">Contáctanos</a>
</div>