---
layout: layouts/base.njk
title: Quién soy
eleventyNavigation:
  key: quiensoy
  title: Quién soy
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">¿Quién soy?</h1>
</div>

<div class="col-6 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/yo.jpeg" alt="Michaella Zena">
  <p>
  Soy Antonella Garay, diseñadora gráfica freelance. Realizo diseño de identidad visual de marca, animación 2D y 3D y desarrollo web. Estoy en el sector desde el 2020 y desde entonces he participado directamente en varios proyectos de modelado 3D; diseño de logotipos y anuncios publicitarios; así como especializandome en la programación de sitios web. En 2022 decidí comenzar mi propio emprendimiento con A&A Creative, para ayudar a personas, empresas y organizaciones a hacer crecer sus marcas y proyectos. 
  </p>
</div>